@media screen and (max-width: 800px) {
    body {
        font-size: 14px;
    }

    #current_position {
        padding: 5px;
    }
}

@media screen and (max-width: 730px) {
    #listForm {
        text-align: left;
    }
}

@media screen and (max-width: 500px) {
    #listForm {
        padding-left: 10px;
        max-width: 300px; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    #listForm {        
        max-width: 170px; 
    }
    #inputCity {
        max-width: 150px;
    };
}